onyxia:
  friendlyName: superset
  owner: custom
  share: true
  userDefinedValues: ""

ingress:
  enabled: true
  ingressClassName: nginx
  hosts:
    - custom-host.lab.incubateur.finances.rie.gouv.fr

image:
  repository: ghcr.io/etalab-ia/chartsgouv
  tag: 4.1.2-1.13.1-2.0.3
  pullPolicy: IfNotPresent

extraVolumes:
  - name: superset-tmp-custom-extra-config
    configMap:
      name: superset-tmp-custom-extra-config

extraVolumeMounts:
  - name: superset-tmp-custom-extra-config
    mountPath: /app/pythonpath/custom_config

init:
  adminUser:
    # Override
    username: admin
    password: admin
extraSecretEnv:
  MAPBOX_API_KEY: 'Your token'
  SUPERSET_SECRET_KEY: 'Your secret key'
supersetNode:
  replicas:
    enabled: true
    replicaCount: 1
  autoscaling:
    enabled: false
    minReplicas: 2
    maxReplicas: 10
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80
  connections:
    # You need to change below configuration incase bringing own PostgresSQL instance and also set postgresql.enabled:false
    db_host: "{{ .Release.Name }}-postgresql"
    db_port: "5432"
    db_user: superset
    db_pass: superset
    db_name: superset
## Set to false if bringing your own PostgreSQL.
postgresql:
  enabled: false
# Superset Celery worker configuration
supersetWorker:
  replicas:
    enabled: true
    replicaCount: 1
  autoscaling:
    enabled: false
    minReplicas: 2
    maxReplicas: 10
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80
  # -- Sets the [pod disruption budget](https://kubernetes.io/docs/tasks/run-application/configure-pdb/) for supersetWorker pods
