---
- name: Add Postgres Helm repo
  kubernetes.core.helm_repository:
    name: "{{ helm.repo_name }}"
    repo_url: "{{ helm.repo_url }}"

- name: Render Postgres values file
  ansible.builtin.template:
    src: values.yaml.jinja
    dest: "{{ values_files.tmp_path }}"

- name: Deploy Postgres with Helm
  kubernetes.core.helm:
    name: "{{ helm.release_name }}"
    chart_ref: "{{ helm.repo_name }}/{{ helm.chart_name }}"
    release_namespace: "{{ k8s.namespace }}"
    create_namespace: false   # You don't have cluster-admin rights
    values_files:
      - "{{ values_files.tmp_path }}"
    timeout: 10m
    state: present
    wait: true

- name: Remove rendered values file
  ansible.builtin.file:
    path: "{{ values_files.tmp_path }}"
    state: absent


# Executing the following tasks only if database.load_backup is set to True else skipping
- name: Configure MinIO alias
  vars:
    load_backup: "{{ database.load_backup }}"
  when: load_backup
  ansible.builtin.shell: |
    mc alias set s3_tmp_alias {{ s3.endpoint_url }} {{ s3.access_key }} {{ s3.secret_key }}

- name: Download database backups
  vars:
    load_backup: "{{ database.load_backup }}"
  when: load_backup
  ansible.builtin.command: >
    mc cp --recursive "s3_tmp_alias/{{ s3.bucket }}/{{ s3.key }}" "{{ database.tmp_path }}"

- name: Restore PostgreSQL dumps
  vars:
    load_backup: "{{ database.load_backup }}"
  when: load_backup
  ansible.builtin.shell: |
    for dump in {{ database.tmp_path }}/*.dump; do
      echo "Restoring $dump into "{{ helm.release_name }}-postgresql"..."
      PGPASSWORD="{{ values_files.auth.password }}" \
        pg_restore "$dump" \
        --clean --create --if-exists --no-owner \
        -h "{{ helm.release_name }}-postgresql" -U {{ values_files.auth.username }} -d {{ values_files.auth.database }}
    done

- name: Delete database backups from filesystem
  ansible.builtin.file:
    path: "{{ database.tmp_path }}"
    state: absent
