---
- name: Add Superset Helm repo
  kubernetes.core.helm_repository:
    name: "{{ helm.repo_name }}"
    repo_url: "{{ helm.repo_url }}"

- name: Render Superset values file
  ansible.builtin.template:
    src: values.yaml.jinja
    dest: "{{ values_files.tmp_path }}"

# - name: Delete Superset custom config ConfigMap if exists
#   kubernetes.core.k8s:
#     state: absent
#     api_version: v1
#     kind: ConfigMap
#     name: superset-tmp-custom-extra-config
#     namespace: "{{ k8s.namespace }}"

# - name: Render Superset custom config ConfigMap
#   ansible.builtin.template:
#     src: configmap.yaml.jinja
#     dest: "{{ configmap.tmp_path }}"

# - name: Apply Superset custom config ConfigMap
#   ansible.builtin.command: >
#     kubectl apply -f {{ configmap.tmp_path }}

- name: Deploy Superset with Helm
  kubernetes.core.helm:
    name: "{{ helm.release_name }}"
    chart_ref: "{{ helm.repo_name }}/{{ helm.chart_name }}"
    release_namespace: "{{ k8s.namespace }}"
    create_namespace: false   # You don't have cluster-admin rights
    values_files:
      - "{{ values_files.tmp_path }}"
    set_values:
      - value: "configOverrides.config_override={{ role_path }}/files/superset_config_override.py"
        value_type: file
    timeout: 10m
    state: present

- name: Remove rendered values file
  ansible.builtin.file:
    path: "{{ values_files.tmp_path }}"
    state: absent
