#jinja2:variable_start_string:'<<' , variable_end_string:'>>'

onyxia:
  friendlyName: superset
  owner: custom
  share: true
  userDefinedValues: ""

ingress:
  enabled: true
  ingressClassName: nginx
  hosts:
{% for host in values_files.ingress.hosts %}
      # The hostname for the web Ingress (templated)
    - << host.name >>
{% endfor %}

image:
  repository: << values_files.image.repository >>
  tag: << values_files.image.tag >>
  pullPolicy: IfNotPresent

{# extraVolumes:
  - name: << configmap.name >>
    configMap:
      name: << configmap.name >>

extraVolumeMounts:
  - name: << configmap.name >>
    mountPath: /app/pythonpath/custom_config #}

bootstrapScript: |
  #!/bin/bash
  apt update && apt install -y gcc libpq-dev python3-dev pkg-config

  if command -v uv > /dev/null 2>&1; then
    uv pip install --no-cache-dir -r psycopg2-binary
  else
    pip install --no-cache-dir -r psycopg2-binary
  fi;

  if [ ! -f ~/bootstrap ]; then echo "Running Superset with uid {{ .Values.runAsUser }}" > ~/bootstrap; fi

init:
  adminUser:
    # Override
    username: << values_files.init.adminUser.username >>
    password: << values_files.init.adminUser.password >>
extraSecretEnv:
  MAPBOX_API_KEY: << values_files.extraSecretEnv.MAPBOX_API_KEY >>
  SUPERSET_SECRET_KEY: << values_files.extraSecretEnv.SUPERSET_SECRET_KEY >>
supersetNode:
  replicas:
    enabled: true
    replicaCount: 1
  autoscaling:
    enabled: false
    minReplicas: 2
    maxReplicas: 10
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80
  connections:
    db_host: "<< values_files.supersetNode.connections.db_host | default('{{ .Release.Name }}-postgresql', true) >>"
    db_port: "<< values_files.supersetNode.connections.db_port | default('5432', true) >>"
    db_user: "<< values_files.supersetNode.connections.db_user | default('superset', true) >>"
    db_pass: "<< values_files.supersetNode.connections.db_pass | default('superset', true) >>"
    db_name: "<< values_files.supersetNode.connections.db_name | default('superset', true) >>"
## Set to false if bringing your own PostgreSQL.
postgresql:
  enabled: << values_files.postgresql.enabled >>
# Superset Celery worker configuration
supersetWorker:
  replicas:
    enabled: true
    replicaCount: 1
  autoscaling:
    enabled: false
    minReplicas: 2
    maxReplicas: 10
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80
  # -- Sets the [pod disruption budget](https://kubernetes.io/docs/tasks/run-application/configure-pdb/) for supersetWorker pods
  resources:
    limits:
     cpu: 4000m
     memory: 12288Mi
    requests:
     cpu: 2000m
     memory: 6144Mi