apiVersion: v1
kind: Secret
metadata:
  name: "{{ secret.s3.name }}"
type: Opaque
data:
  awsAccessKeyId: "{{ secret.s3.awsAccessKeyId | b64encode }}"
  awsSecretAccessKey: "{{ secret.s3.awsSecretAccessKey | b64encode }}"
