apiVersion: v1
kind: Secret
metadata:
  name: "{{ secret.db.name }}"
type: Opaque
data:
  username: "{{ secret.db.username | b64encode }}"
  password: "{{ secret.db.password | b64encode }}"
  jdbcUrl: "{{ secret.db.jdbcUrl | b64encode }}"
