apiVersion: v1
kind: Secret
metadata:
    name: "{{ values_files.dags.gitSync.credentialsSecret }}"
type: Opaque
data:
    # For git-sync v3
    GIT_SYNC_USERNAME: "{{ secret.git_credentials.git_username | b64encode }}"
    GIT_SYNC_PASSWORD: "{{ secret.git_credentials.git_password | b64encode }}"

    # For git-sync v4
    GITSYNC_USERNAME: "{{ secret.git_credentials.git_username | b64encode }}"
    GITSYNC_PASSWORD: "{{ secret.git_credentials.git_password | b64encode }}"
