apiVersion: v1
kind: Pod
metadata:
  annotations:
    cni.projectcalico.org/containerID: 42aaf34d52845e057e9dffe714f6d41e94d120b8ffcaba395122888a3a677a29
    cni.projectcalico.org/podIP: 10.244.182.233/32
    cni.projectcalico.org/podIPs: 10.244.182.233/32
  creationTimestamp: "2025-09-10T13:06:06Z"
  generateName: postgresql-666887-
  labels:
    app.kubernetes.io/component: primary
    app.kubernetes.io/instance: postgresql-666887
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: postgresql
    app.kubernetes.io/version: 17.2.0
    apps.kubernetes.io/pod-index: "0"
    controller-revision-hash: postgresql-666887-5f544b749f
    helm.sh/chart: postgresql-16.2.5
    statefulset.kubernetes.io/pod-name: postgresql-666887-0
  name: postgresql-666887-0
  namespace: projet-dsci
  ownerReferences:
  - apiVersion: apps/v1
    blockOwnerDeletion: true
    controller: true
    kind: StatefulSet
    name: postgresql-666887
    uid: 1db9d4f1-7591-41d2-90eb-456cf1d29c72
  resourceVersion: "1218360480"
  uid: 6e563eb3-a3fd-4862-be78-9d15b3a06643
spec:
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - podAffinityTerm:
          labelSelector:
            matchLabels:
              app.kubernetes.io/component: primary
              app.kubernetes.io/instance: postgresql-666887
              app.kubernetes.io/name: postgresql
          topologyKey: kubernetes.io/hostname
        weight: 1
  automountServiceAccountToken: false
  containers:
  - env:
    - name: BITNAMI_DEBUG
      value: "false"
    - name: POSTGRESQL_PORT_NUMBER
      value: "5432"
    - name: POSTGRESQL_VOLUME_DIR
      value: /bitnami/postgresql
    - name: PGDATA
      value: /bitnami/postgresql/data
    - name: POSTGRES_USER
      value: projet-dsci
    - name: POSTGRES_PASSWORD
      valueFrom:
        secretKeyRef:
          key: password
          name: postgresql-666887
    - name: POSTGRES_POSTGRES_PASSWORD
      valueFrom:
        secretKeyRef:
          key: postgres-password
          name: postgresql-666887
    - name: POSTGRES_DATABASE
      value: defaultdb
    - name: POSTGRESQL_ENABLE_LDAP
      value: "no"
    - name: POSTGRESQL_ENABLE_TLS
      value: "no"
    - name: POSTGRESQL_LOG_HOSTNAME
      value: "false"
    - name: POSTGRESQL_LOG_CONNECTIONS
      value: "false"
    - name: POSTGRESQL_LOG_DISCONNECTIONS
      value: "false"
    - name: POSTGRESQL_PGAUDIT_LOG_CATALOG
      value: "off"
    - name: POSTGRESQL_CLIENT_MIN_MESSAGES
      value: error
    - name: POSTGRESQL_SHARED_PRELOAD_LIBRARIES
      value: pgaudit
    image: docker.io/bitnami/postgresql:16
    imagePullPolicy: IfNotPresent
    livenessProbe:
      exec:
        command:
        - /bin/sh
        - -c
        - exec pg_isready -U "projet-dsci" -d "dbname=defaultdb" -h 127.0.0.1 -p 5432
      failureThreshold: 6
      initialDelaySeconds: 30
      periodSeconds: 10
      successThreshold: 1
      timeoutSeconds: 5
    name: postgresql
    ports:
    - containerPort: 5432
      name: tcp-postgresql
      protocol: TCP
    readinessProbe:
      exec:
        command:
        - /bin/sh
        - -c
        - -e
        - |
          exec pg_isready -U "projet-dsci" -d "dbname=defaultdb" -h 127.0.0.1 -p 5432
          [ -f /opt/bitnami/postgresql/tmp/.initialized ] || [ -f /bitnami/postgresql/.initialized ]
      failureThreshold: 6
      initialDelaySeconds: 5
      periodSeconds: 10
      successThreshold: 1
      timeoutSeconds: 5
    resources:
      limits:
        cpu: "2"
        memory: 10Gi
      requests:
        cpu: 250m
        memory: 5Gi
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      privileged: false
      readOnlyRootFilesystem: true
      runAsGroup: 1001
      runAsNonRoot: true
      runAsUser: 1001
      seLinuxOptions: {}
      seccompProfile:
        type: RuntimeDefault
    terminationMessagePath: /dev/termination-log
    terminationMessagePolicy: File
    volumeMounts:
    - mountPath: /tmp
      name: empty-dir
      subPath: tmp-dir
    - mountPath: /opt/bitnami/postgresql/conf
      name: empty-dir
      subPath: app-conf-dir
    - mountPath: /opt/bitnami/postgresql/tmp
      name: empty-dir
      subPath: app-tmp-dir
    - mountPath: /docker-entrypoint-initdb.d/
      name: custom-init-scripts
    - mountPath: /dev/shm
      name: dshm
    - mountPath: /bitnami/postgresql
      name: data
  dnsPolicy: ClusterFirst
  enableServiceLinks: true
  hostname: postgresql-666887-0
  nodeName: worker-04
  preemptionPolicy: PreemptLowerPriority
  priority: 0
  restartPolicy: Always
  schedulerName: default-scheduler
  securityContext:
    fsGroup: 1001
    fsGroupChangePolicy: Always
  serviceAccount: postgresql-666887
  serviceAccountName: postgresql-666887
  subdomain: postgresql-666887-hl
  terminationGracePeriodSeconds: 30
  tolerations:
  - effect: NoExecute
    key: node.kubernetes.io/not-ready
    operator: Exists
    tolerationSeconds: 300
  - effect: NoExecute
    key: node.kubernetes.io/unreachable
    operator: Exists
    tolerationSeconds: 300
  volumes:
  - name: data
    persistentVolumeClaim:
      claimName: data-postgresql-666887-0
  - emptyDir: {}
    name: empty-dir
  - configMap:
      defaultMode: 420
      name: postgresql-666887
    name: custom-init-scripts
  - emptyDir:
      medium: Memory
    name: dshm
status:
  conditions:
  - lastProbeTime: null
    lastTransitionTime: "2025-09-10T13:07:08Z"
    status: "True"
    type: PodReadyToStartContainers
  - lastProbeTime: null
    lastTransitionTime: "2025-09-10T13:06:45Z"
    status: "True"
    type: Initialized
  - lastProbeTime: null
    lastTransitionTime: "2025-09-10T13:07:17Z"
    status: "True"
    type: Ready
  - lastProbeTime: null
    lastTransitionTime: "2025-09-10T13:07:17Z"
    status: "True"
    type: ContainersReady
  - lastProbeTime: null
    lastTransitionTime: "2025-09-10T13:06:28Z"
    status: "True"
    type: PodScheduled
  containerStatuses:
  - containerID: containerd://48275a097337dbc8d80a4c1d6abce6097bbd8f06f17eec6a53e6283c8bb6bf66
    image: docker.io/bitnami/postgresql:16
    imageID: docker.io/bitnami/postgresql@sha256:233f361c5819c180b600d110d7da953bea6f1a00764752643ffb7b78ba85c628
    lastState: {}
    name: postgresql
    ready: true
    restartCount: 0
    started: true
    state:
      running:
        startedAt: "2025-09-10T13:07:08Z"
  hostIP: 172.16.0.34
  hostIPs:
  - ip: 172.16.0.34
  phase: Running
  podIP: 10.244.182.233
  podIPs:
  - ip: 10.244.182.233
  qosClass: Burstable
  startTime: "2025-09-10T13:06:45Z"
