#jinja2:variable_start_string:'<<' , variable_end_string:'>>'

# yaml-language-server: $schema=values.schema.json
# Default values for n8n.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# -- This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
  repository: n8nio/n8n
  # -- This sets the pull policy for images.
  pullPolicy: IfNotPresent
  # -- Overrides the image tag whose default is the chart appVersion.
  tag: ""

# -- This is for the secretes for pulling an image from a private repository more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: []
# -- This is to override the chart name.
nameOverride: ""
fullnameOverride: ""


# -- Node configurations for built-in and external npm packages
nodes:
  # -- Enable built-in node functions (e.g., HTTP Request, Code Node, etc.)
  builtin:
    # -- Enable built-in modules for the Code node
    enabled: false
    # -- List of built-in Node.js modules to allow in the Code node (e.g., crypto, fs). Use '*' to allow all.
    modules: []
      # - crypto
      # - fs
  # -- External npm packages to install and allow in the Code node
  external:
    # -- Allow all external npm packages
    allowAll: false
    # -- Whether to reinstall missing packages. For more information, see https://docs.n8n.io/integrations/community-nodes/troubleshooting/#error-missing-packages
    reinstallMissingPackages: false
    # -- List of npm package names and versions (e.g., "package-name@1.0.0")
    packages: []
      # - "moment@2.29.4"
      # - "lodash@4.17.21"
  # -- Image for the init container to install npm packages
  initContainer:
    # -- Image for the init container to install npm packages
    image:
      # -- Repository for the init container to install npm packages
      repository: node
      # -- Tag for the init container to install npm packages
      tag: "20-alpine"
      # -- Pull policy for the init container to install npm packages
      pullPolicy: IfNotPresent
    # -- Resources for the init container
    resources: {}
      # requests:
      #   cpu: 100m
      #   memory: 128Mi
      # limits:
      #   cpu: 500m
      #   memory: 256Mi

# -- Configuration for private npm registry
npmRegistry:
  # -- Enable private npm registry
  enabled: false

# -- n8n database configurations
db:
  # -- Prefix to use for table names.
  tablePrefix: ""
  # -- Type of database to use. Valid values 'sqlite' | 'postgresdb'
  type: postgresdb

  logging:
    # -- Whether database logging is enabled.
    enabled: false
    # -- Database logging level. Requires `maxQueryExecutionTime` to be higher than `0`. Valid values 'query' | 'error' | 'schema' | 'warn' | 'info' | 'log' | 'all'
    options: error
    # -- Only queries that exceed this time (ms) will be logged. Set `0` to disable.
    maxQueryExecutionTime: 0

  postgresdb:
    # -- Control how many parallel open Postgres connections n8n should have. Increasing it may help with resource utilization, but too many connections may degrade performance.
    poolSize: 10
    # -- Postgres connection timeout (ms).
    connectionTimeout: 20000
    # -- Amount of time before an idle connection is eligible for eviction for being idle.
    idleConnectionTimeout: 30000
    # -- The PostgreSQL schema.
    schema: public
    # -- The PostgreSQL connection SSL settings. Find more information from here: https://docs.n8n.io/hosting/configuration/supported-databases-settings/#postgresdb
    ssl:
      # -- Whether to enable SSL.
      enabled: false

sentry:
  # -- Whether sentry is enabled.
  enabled: false

diagnostics:
  # -- Whether diagnostics are enabled.
  enabled: false

versionNotifications:
  # -- Whether to request notifications about new n8n versions
  enabled: false
  # -- Endpoint to retrieve n8n version information from
  endpoint: "https://api.n8n.io/api/versions/"
  # -- URL for versions panel to page instructing user on how to update n8n instance
  infoUrl: "https://docs.n8n.io/hosting/installation/updating/"

api:
  # -- Whether to enable the Public API
  enabled: true
  # -- Path segment for the Public API
  path: api
  # -- Whether to enable the Swagger UI for the Public API
  swagger:
    enabled: true

# -- n8n enterprise license configurations
license:
  # -- Whether to enable the enterprise license
  enabled: false

# -- Main node configurations
main:
  # -- Number of main nodes. Only enterprise license users can have one leader main node and mutiple follower main nodes.
  count: 1

  # -- Force to use statefulset for the main pod. If true, the main pod will be created as a statefulset.
  forceToUseStatefulset: true

  # -- Persistence configuration for the main pod
  persistence:
    # -- Whether to enable persistence
    enabled: false

  # -- Extra environment variables
  extraEnvVars:
    NO_PROXY:
    HTTPS_PROXY:
    HTTP_PROXY:
    N8N_HOST:
    WEBHOOK_URL:
    N8N_PROXY_HOPS: 1

  hostAliases: []

# -- Worker node configurations
worker:
  # -- Use `regular` to use main node as executer, or use `queue` to have worker nodes
  mode: regular

# -- The workflow history configuration
workflowHistory:
  # -- Whether to save workflow history versions
  enabled: true
  # -- Time (in hours) to keep workflow history versions for. To disable it, use -1 as a value
  pruneTime: 336

# -- If you install n8n first time, you can keep this empty and it will be auto generated and never change again. If you already have a encryption key generated before, please use it here.
encryptionKey:

# -- The name of an existing secret with encryption key. The secret must contain a key with the name N8N_ENCRYPTION_KEY.
existingEncryptionKeySecret: ""

# -- For instance, the Schedule node uses it to know at what time the workflow should start. Find you timezone from here: https://momentjs.com/timezone/
timezone: "Europe/Berlin"

# -- A locale identifier, compatible with the Accept-Language header. n8n doesn't support regional identifiers, such as de-AT.
defaultLocale: en

# -- graceful shutdown timeout in seconds
gracefulShutdownTimeout: 30

# -- This block is for setting up the ingress for more information can be found here: https://kubernetes.io/docs/concepts/services-networking/ingress/
ingress:
  enabled: true
  className: "nginx"
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    # Example - templated
    - host: 
      paths:
        - path: /
          pathType: Prefix
  tls: []
  #  - secretName: n8n-tls
  #    hosts:
  #      - n8n.local

# -- Bitnami Redis configuration
redis:
  # -- Enable redis
  enabled: false

# -- Bitnami PostgreSQL configuration
postgresql:
  # -- Enable postgresql
  enabled: false

# -- External PostgreSQL parameters
externalPostgresql:
  # -- External PostgreSQL server host
  host:
  # -- External PostgreSQL username
  username:
  # -- External PostgreSQL password
  password:
  # -- External PostgreSQL server port
  port: 5432
  # -- The name of the external PostgreSQL database. For more information: https://docs.n8n.io/hosting/configuration/supported-databases-settings/#required-permissions
  database: n8n_config
  # -- The name of an existing secret with PostgreSQL (must contain key `postgres-password`) and credentials.
  # When it's set, the `externalPostgresql.password` parameter is ignored
  existingSecret: ""
