---
- name: Add Postgres Helm repo
  kubernetes.core.helm_repository:
    name: "{{ helm.repo_name }}"
    repo_url: "{{ helm.repo_url }}"

- name: Render Postgres values file
  ansible.builtin.template:
    src: values.yaml.jinja
    dest: "{{ values_files.tmp_path }}"

- name: Deploy Postgres prod config with Helm
  kubernetes.core.helm:
    name: "{{ item.release_name }}"
    chart_ref: "{{ helm.repo_name }}/{{ helm.chart_name }}"
    release_namespace: "{{ k8s.namespace }}"
    create_namespace: false   # You don't have cluster-admin rights
    values_files:
      - "{{ item.tmp_path }}"
    timeout: 10m
    state: present
    wait: true
  loop: "{{ databases | default([]) }}"

- name: Remove rendered values file
  ansible.builtin.file:
    path: "{{ item.tmp_path }}"
    state: absent
  loop: "{{ databases | default([]) }}"
