---
# Executing the following tasks only if database.load_backup is set to True else skipping
- name: Configure MinIO alias
  vars:
    load_backup: "{{ database.load_backup }}"
  when: load_backup
  ansible.builtin.shell: |
    mc alias set s3_tmp_alias {{ s3.endpoint_url }} {{ s3.access_key }} {{ s3.secret_key }}

- name: Download database backups
  vars:
    load_backup: "{{ database.load_backup }}"
  when: load_backup
  ansible.builtin.command: >
    mc cp --recursive "s3_tmp_alias/{{ s3.bucket }}/{{ s3.key }}" "{{ database.tmp_path }}"

- name: Restore PostgreSQL dumps
  vars:
    load_backup: "{{ database.load_backup }}"
  when: load_backup
  ansible.builtin.shell: |
    for dump in {{ database.tmp_path }}/*.dump; do
      echo "Restoring $dump into "{{ helm.release_name }}"..."
      PGPASSWORD="{{ values_files.auth.password }}" \
        pg_restore "$dump" \
        --clean --create --if-exists --no-owner \
        -h "{{ helm.release_name }}" -U {{ values_files.auth.username }} -d {{ values_files.auth.database }}
    done

- name: Delete database backups from filesystem
  ansible.builtin.file:
    path: "{{ database.tmp_path }}"
    state: absent

- name: Delete MinIO alias
  vars:
    load_backup: "{{ database.load_backup }}"
  when: load_backup
  ansible.builtin.shell: |
    mc alias remove s3_tmp_alias
